.inlineImg {
	background-repeat: no-repeat;
	background-size: 100%;
}

#opening {
	font-family: Verdana;
}

h1 {
	font-family: Helvetica;
	text-align: center;
}
	  
body {
	font-family: Helvetica;
}

.inLineImg {
	max-height: 100%;
	max-width: 100%;
}

.social-icons {
	width: 95%;
}