/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Nov 2019, 8:06:07 PM
    Author     : Dell
*/



body{
    background-image: url(../images/foodMain.jpg);
    background-size: 100%;
    padding: 0px;
    background-repeat: repeat;
    background-attachment: fixed;
}

.jumbotron{
    background-color:white;
    opacity: 0.9;
}

.jumbotron h1{
    text-align: center;
}

.j1{
    margin: 15px 30px 15px 30px;
    text-align: center;
}

table td{
    padding:20px;
}