/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Sep 2019, 14:03:10
    Author     : kohboonkiat
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div{
    display: block;
}

body{
    background-image: url("../images/foodMain.jpg");
    background-size: 100%;
    padding: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.whatsonmenu{
    text-align: center;
    padding: 80px;
}

.whatsonmenu h1{
    font-size: 60px;
    font-weight: 700;
}



.menu-theme{
    width: 100%;
}

.container{
    width: 100%;
}

.row {
    width: 100%;
}


.ChineseMenu, .IMMenu{
    background-color: white;
    padding: 10px 30px 30px 30px;
    box-shadow: 0 15px 15px rgba(0,0,0,.5);
    border-radius: 50px 50px 50px 50px;
}

.image-box   {
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 30px 30px 30px 30px;
}

.image-box img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.image-box:hover img {
    transform: scale(1.1);
}

.ChineseMenu h3, .IMMenu h3{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #adadad;
}

p {
    margin: 0 0 10px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.menu-left{
    text-align: center;
}

.menu-left h3 {
    font-size: 3em;
    color: #005238;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}


.menu-right p {
    font-size: 1.15em;
    color: #777;
    line-height: 2em;
}

    
#chinesefood .container{
    background-color: white;
    margin-top: 250px;
    width: 100%;
    border-radius: 30px 30px 30px 30px;
}



.menu-top{
    width: 100%; 
    margin-top: 50px;
}

.menu-top > p{
    padding: 10px;
}

.menu-top h2{
    padding-top: 10px;
    text-align: center;
    font-size:3em;
}
.main-menu{
    width: 100%;
}


.menu-bottom1{
        padding: 2%;
}

.menu-bottom1 p{
    font-size: 1em;
    color: #adadad;
}

.menu-bottom1 h4{
    color: #adadad;
    font-size: 1.2em;
}


.img-responsive{
    box-shadow: 0 3px 3px rgba(0,0,0,.5);
    max-width: 100%;
}


#IMfood, #chinesefood{
    margin-left: 50px;
    margin-right: 50px;
}


#IMfood .container{
    background-color: white;
    margin-top: 150px;
    width: 100%;
    border-radius: 30px 30px 30px 30px;
}




.containbody img{
    max-width: 100%;
    padding: 20px;
    border: none;
}

.containbody p, .modal-body .quantity{
    margin-right: 20px;
    margin-left: 20px;
}

.modal-body h2 {
    border-bottom: none;
    text-align: center;
}

.container-fluid, .modal-content {
    background-color: white;
}

@media only screen and (max-width:767px){
    .IMMenu{
        margin-top: 20px;
    }
    
    .menu-top h2{
        font-size: 2em;
    }
    
    .menu-bottom1  > button {
        font-size: 0.8em;
        
    }
    
    .menu-bottom1 > h4{
        font-size: 1em;
    }
    
    .menu-bottom1 > p{
        font-size: 0.9em;
    }
    
    .main-menu > h3 {
        font-size: 1.3em;
    }
    
}

@media only screen and (max-width: 991px){
    .menu-bottom1{
        width: 100%;
        max-width: 100%;
    }
    
    .ChineseMenu h3, .IMMenu h3 {
        font-size: 1.5em;
    }
    
    .menu-top h2{
        font-size: 2em;
    }
    
    .menu-top p{
        font-size: 0.9em;
    }
    
    .IMMenu, .ChineseMenu {
        padding: 20px 20px 20px 20px;
    }
    
    .whatsonmenu h1{
        font-size: 2.8em;
    }
}

@media only screen and (max-width: 1470px){
    body{
        background-repeat: repeat;
    }
}

#loadingImg {
display: none;
position: absolute;
margin: auto;
top: 0;
left: 0;
right: 0;
bottom: 0;

}

.validCredential h3 {
float: left;
text-decoration: underline;

}

.validCredential div {
clear: both;

}

.validCredential p {
float: left;
padding-right: 10px;

}

::-webkit-input-placeholder {
color: #ccc;

}

#LoginModal {

color: #1fa67b;

}

#LoginModal table {
position: relative;
margin: auto;

}

#LoginModal table input {
border-radius: 5px;
border: solid 1px #CCC;
margin: 10px;
padding: 3px 10px;
color: #000;

}

#LoginModal table input[type="button"] {
width: 94%;
background: #1fa67b;
color: #FFF;

}

#LoginModal table span {
float: left;
font-size: 12px;
color: #f00;
padding-left: 23px;

}
