/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Oct 2019, 17:59:29
    Author     : kohboonkiat
*/





@-ms-viewport{
  width: device-width;
}


#navMenuButton {
    padding-right: 20px;
    font-size: 20px;
}

.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 10;
    height: 100%;
    top: 0;
    left: 0;
    /*background-color: #111;*/
    /*background-color: #ccf2ff;*/
    /*background-color: #e6f9ff;*/
    /*background-color: #f8f9fa;*/
    /*background-color: #F5F5F5;*/
    background-color: #FFFFFFE3;
    /*background-color: #111;*/
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    /*color: #818181;*/
    color: #484d4d;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: black;
    text-decoration: underline;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

#mainPic{
    height: 100%;
    width: 100%;
}

.center{
    /*font-size: 91px;*/
    text-align: center;
    font-weight: bold;
    margin: 300px 400px 300px 400px;
    text-shadow: -1px 0 , 0 1px #f2f2f2, 1px 0 #fff, 0 -1px black;
    border: 2px solid black;
    padding: 25px 20px 25px 20px;
    margin-top: 12%;
}

@media screen and (max-width: 1500px) {
    .center{
        font-size: 80px;
        text-align: center;
        font-weight: bold;
        margin: 300px 400px 300px 400px;
        text-shadow: -1px 0 , 0 1px #f2f2f2, 1px 0 #fff, 0 -1px black;
        border: 2px solid black;
        padding: 25px 20px 25px 20px;
    }
}

@media screen and (max-width: 1380px) {
    .center{
        /*font-size: 65px;*/
        text-align: center;
        font-weight: bold;
        margin: 250px 300px 250px 300px;
        text-shadow: -1px 0 , 0 1px #f2f2f2, 1px 0 #fff, 0 -1px black;
        border: 2px solid black;
        padding: 25px 20px 25px 20px;
        margin-top: 12%;
    }
}
@media screen and (max-width: 1180px) {
    .center{
        font-size: 55px;
        text-align: center;
        font-weight: bold;
        margin: 250px 200px 250px 200px;
        text-shadow: -1px 0 , 0 1px #f2f2f2, 1px 0 #fff, 0 -1px black;
        border: 2px solid black;
        padding: 25px 20px 25px 20px;
    }
}
@media screen and (max-width: 1030px) {
    .center{
        font-size: 55px;
        text-align: center;
        font-weight: bold;
        margin: 250px 100px 350px 100px;
        text-shadow: -1px 0 , 0 1px #f2f2f2, 1px 0 #fff, 0 -1px black;
        border: 2px solid black;
        padding: 25px 20px 25px 20px;
    }
}


@media screen and (max-width: 750px) {
    .center{
        font-size: 35px;
        text-align: center;
        font-weight: bold;
        margin: 300px 100px 300px 100px;
        text-shadow: -1px 0 , 0 1px #f2f2f2, 1px 0 #fff, 0 -1px black;
        border: 2px solid black;
        padding: 25px 20px 25px 20px;
    }
}

@media screen and (max-width: 950px) {

}


@media screen and (max-width: 650px) {

}

@media screen and (max-width: 480px) {

}


.mb-5 {
    margin-bottom: 1.5rem;
}

#mainPagebody{
    background-image: url("../images/foodMain.jpg");
    background-size: 100%;
    padding: 0px;
    background-repeat: repeat;
}



