/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Nov 2019, 5:50:43 PM
    Author     : Dell
*/

 h1{
    text-align: center;
}

#orders{
    background: white;
    opacity:0.9;
    margin-top:30px;
    margin-bottom: 500px;
    padding-bottom: 10px;
}

#orders h1{
    padding: 20px;
}

#orderbody{
    background-image: url(../images/foodMain.jpg);
    background-size: 100%;
    padding: 0px;
    background-repeat: repeat;
    background-attachment: fixed;
}

