body{
    background-image: url("../images/foodMain.jpg");;
    background-size: 100%;
    padding: 0px;
}
.fa-cc-mastercard{
    color:red;
    font-size:36px
}
.fa-cc-visa{
    color:navy;
    font-size:36px
}
.fa-cc-amex{
    color:blue;
    font-size:36px
}
.fa-cc-discover{
    color:orange;
    font-size:36px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.homeaddress{
    display:none;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
  margin-left: 10px;
  margin-top: 10px;
  opacity: 0.9;
}

.col-15 {
  -ms-flex: 15%; /* IE10 */
  flex: 15%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  padding:10px;
  
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  margin-bottom: 20px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.row{
    label {
  margin-bottom: 10px;
  display: block;
  color: black;
}
}


.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn1 {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn1:hover {
  background-color: #45a049;
}
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}
span.product-price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
/*  #cvv,#expyear,#expmonth{
      width:50%;
  }*/
}
